.App, body {
  text-align: center;
  height:100%;
}

/* nav {
  width: 100%;
  position: sticky;
  top:0;
}

nav label, #hamburger{
  display:inline-block;
}

nav ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

nav ul li{
  display:block;
  padding: 10px;
}

nav ul li a{
  color:#ff521b;
  text-decoration: none;
} */
.icon{
  width: auto;
  height: 200px;
}
.intro{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color:black;
  text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
}

.main {
  text-align: center;
}

.header{
  height: fit-content;
  ;
}
.aboutSection{
display:flex;
flex-direction: row;
height: 100vh;
background-color: #ff521b;
color:white;
border-top: black solid 2px;
} 

.aboutImg{
  margin-top: 10%;
  text-align: center;
  width: 50%;
}

.aboutImg img {
  width:600px;
  height:auto;
  border-radius: 50%;
  border: solid white 3px;
  
}

.aboutTxt {
  text-align: center;
  width: 50%;
}

.projectsSection{
  margin:0;
  background-color: #EFC88B;
  height: 100vh;

}
.skillsIcon{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap:auto;
}

.contactSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color:  #7C7C7C;
  height: 70vh;
}

.contactText{
  color:white;
  font-size: 50px;


}